* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: #222;
    background: #ffffff;
    line-height: 1.6;
}

/* MENU */

header {
    width: 100%;
    padding: 20px 8%;
    border-bottom: 1px solid #eee;
    background: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #222;
}

/* ACCUEIL */

.hero {
    min-height: 85vh;
    display: flex;
    align-items: center;
    padding: 80px 8%;
}

.hero-content {
    max-width: 800px;
}

.hero-content > p:first-child {
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bold;
}

.hero h1 {
    font-size: 70px;
    margin: 15px 0;
}

.hero h2 {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 25px;
}

.hero-content > p {
    font-size: 19px;
    max-width: 650px;
}

/* BOUTONS */

.buttons {
    margin-top: 35px;
    display: flex;
    gap: 15px;
}

.buttons a {
    text-decoration: none;
    padding: 14px 24px;
    border: 1px solid #222;
    color: #222;
}

/* SECTIONS */

section:not(.hero) {
    padding: 100px 8%;
    max-width: 1200px;
    margin: auto;
}

section h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

section p {
    max-width: 800px;
    margin-bottom: 20px;
}

/* TELEPHONE */

@media (max-width: 700px) {

    nav {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1 {
        font-size: 45px;
    }

    .hero h2 {
        font-size: 24px;
    }

    .buttons {
        flex-direction: column;
    }

}
